
@font-face {
    font-family: CodePredators;
    src: url(../fonts/Robot_Font.otf);
}

*{
    margin: 0;
    padding: 0;
}
html{overflow: auto;}

::-webkit-scrollbar{
    width: 10px;
    background: #dbe8ec;
  }


.section {
    width: 100%;
    height: 100vh;
}

.button-group{
    align-items: baseline;
}

.btn-lateral{
    background-color: rgba(0, 0, 0, 0.7);
    color:rgb(255, 255, 255);
    border-radius: 0;
    padding: 1rem;
    width: 4rem;
    z-index: 0;
}


.btn-negro{
    color: white;
    background-color: rgb(0, 0, 0);
    width: 15rem;
    border-radius: 0;
    font-family: CodePredators;
    
}

.btn-rojo{
    color: rgb(255, 255, 255);
    background-color: brown;
    width: 15rem;
    border-radius: 0;
    font-family: CodePredators;
    position:fixed;
    z-index: 1;
}

.nav-link{
    color: rgb(255, 255, 255);
    font-family: CodePredators;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        background-color: rgb(54, 4, 4);      
    }

h1{
    font-family: CodePredators;
}

.about{
    background-image: linear-gradient(#000000b9, rgba(129, 127, 127, 0.5)),
    url("../img/jaime_mejorado.png");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}


.portafolio{
    background-image: linear-gradient(#000000b9, rgba(129, 127, 127, 0.5)),
    url("../img/Oficina_mamparas.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact{
    background-image: linear-gradient(#000000b9, rgba(129, 127, 127, 0.5)),
    url("../img/450_1000.webp");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer{
    background-color: black;
}

.container{
    width: 90%;
    margin-left:-1rem;
    margin-top: -7rem;
    text-align: justify;
    gap: 1rem;
    
}
.img-1{
    
    background-image: linear-gradient(#000000b9, rgba(129, 127, 127, 0.5)),
    url("../img/jaime_mejorado.png");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.img-2{
    
    background-image: linear-gradient(#000000b9, rgba(129, 127, 127, 0.5)),
    url("../img/naturaleza-de-las-actitudes-de-los-trabajadores.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.img-3{
    
    background-image: linear-gradient(#000000b9, rgba(129, 127, 127, 0.5)),
    url("../img/Oficina_mamparas.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.top-uo{
    top: 0.1rem  ;
    width: 100%;
    margin: 0;
    padding: 0M
   
}

.btn1{
    background-image: linear-gradient(#000000b9, rgba(129, 127, 127, 0.5)),
    url("../img/mision.jpg");
     background-color: #cccccc;
    height: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
}
.btn2{
    background-image: linear-gradient(#000000b9, rgba(129, 127, 127,0.5)),
    url("../img/Breve-Historia-Construcción.jpg");
     background-color: #cccccc;
    height: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
}
.btn3{
    background-image: linear-gradient(#000000b9, rgba(129, 127, 127, 0.5)),
    url("../img/constructora.jpg");
     background-color: #cccccc;
    height: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
}
.btn4{
    background-image: linear-gradient(#000000b9, rgba(129, 127, 127, 0.5)),
    url("../img/cultura.jpg");
     background-color: #cccccc;
    height: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
}
.contenedor-2{
  
    margin-left: 10%;
    margin-top: 20%;
}

.btn{
    border: none;
}
.btnhover:hover{
    background-image: linear-gradient(#000000b9, rgb(0, 0, 0));
     background-color: #cccccc;
    height: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


